main {
  padding: 2vw;
  background: white;
  opacity: .8;
  display: flex;
  height: 70vh;
  width: 96vw;
}

.bbb {
  width: 36%;
  display: flex;
  flex-direction: column;
  padding-left: 10vw;
}

.party-info {
  width: 50%;
}

.party-info div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.party-info div p {
  margin-left: 2vw;
  font-size: 3vh;
}

@media (min-width: 320px) and (max-width: 480px) {
  .bbb {
    flex-direction: row;
    padding-left: 2vh;
    width: 90%;
  }

  .party-info {
    padding-left: 2vh;
    width: 90%;
  }

  .party-info div p {
    font-size: 2.5vh;
  }

  main {
    flex-direction: column;
    height: auto;
  }

  main h1 {
    font-size: 3vh;
  }
}
